/* -------------------------------- 

File#: _1_cta-banner
Title: Call to Action Banner
Descr: A banner containing brief info about a subject, plus links/buttons
Usage: codyhouse.co/license

-------------------------------- */