/* -------------------------------- 

File#: _1_collapse
Title: Collapse
Descr: Control button to toggle the visibility of a panel element
Usage: codyhouse.co/license

-------------------------------- */