/* -------------------------------- 

File#: _1_hero-boxed
Title: Boxed Hero
Descr: Hero section variation displaying a content background wrapper
Usage: codyhouse.co/license

-------------------------------- */