/* -------------------------------- 

File#: _2_modal-window-full-screen
Title: Full Screen Modal Window
Descr: A full screen modal window
Usage: codyhouse.co/license

-------------------------------- */