/* -------------------------------- 

File#: _3_faq-v3
Title: FAQ v3
Descr: Q&A template based on the table of contents and accordion components
Usage: codyhouse.co/license

-------------------------------- */