/* -------------------------------- 

File#: _3_intro-v2
Title: Intro v2
Descr: Intro section including the main header and 2 content blocks
Usage: codyhouse.co/license

-------------------------------- */