/* -------------------------------- 

File#: _3_intro-v3
Title: Intro v3
Descr: Intro section including the main header and a feature block
Usage: codyhouse.co/license

-------------------------------- */